services:
  openswoole-slim-crud-api:
    container_name: openswoole-slim-crud-api
    working_dir: /var/www
    build: .
    ports:
      - "9501:9501"
    volumes:
      - /mnt/hd2/data/docker_app/php-crud-api:/var/www
    environment:
      - DRIVER=mysql
      - MYSQL_HOST=172.17.0.1
      - MYSQL_PORT=3306
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mypassword
      - MYSQL_DATABASE=mydb
      - SERVER_PORT=9501
      - SECRET-KEY=mysecret-key
      - SERVER_ACCESS_IP=0.0.0.0
      - SERVER_ACCESS_PORT=9501
      - TZ=Asia/Jakarta
    network_mode: bridge
